In [106]:
import pandas as pd

In [107]:
df = pd.read_csv("raw/box_elder.csv", header=None)

In [108]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,512,440,72,0,351,323,28,0,0,15,...,69,104,113,37,171,144,67,52,122,80
1,397,375,22,0,307,292,15,0,0,8,...,64,102,90,36,164,115,89,38,90,65
2,324,290,34,0,240,219,21,0,0,13,...,46,70,72,31,115,97,78,24,82,33
3,521,474,47,0,388,358,30,0,0,19,...,104,108,97,48,201,145,58,82,150,57
4,332,295,37,0,227,198,29,0,0,17,...,37,55,65,41,116,78,56,39,77,21

In [109]:
d2 = pd.DataFrame(columns=[
    'county'
    ,'precinct'
    ,'office'
    ,'district'
    ,'party'
    ,'candidate'
    ,'vote'
])

In [110]:
d2.head()

Empty DataFrame
Columns: [county, precinct, office, district, party, candidate, vote]
Index: []

In [111]:
precincts = [
    'BC01'
    ,'BC10'
    ,'BC11'
    ,'BC12'
    ,'BC13'
    ,'BC14'
    ,'BC15'
    ,'BCN'
    ,'BD/C'
    ,'BEAR'
    ,'BRE'
    ,'BC02'
    ,'CC'
    ,'COR1'
    ,'COR2'
    ,'DEWY'
    ,'ELWD'
    ,'FLDG1'
    ,'FLDG2'
    ,'GAR1'
    ,'GAR2'
    ,'GARE'
    ,'BC03'
    ,'GC'
    ,'HONY'
    ,'HOWL'
    ,'MANT'
    ,'PARK'
    ,'PER1'
    ,'PER2'
    ,'PER3'
    ,'PER4'
    ,'PLYM'
    ,'BC04'
    ,'PORT'
    ,'PROM'
    ,'RIV'
    ,'SNOW'
    ,'SWIL'
    ,'TRE1'
    ,'TRE2'
    ,'TRE3'
    ,'TRE4'
    ,'TRE5'
    ,'BC05'
    ,'TRES'
    ,'TREW'
    ,'WLRD'
    ,'YOST'
    ,'BC06'
    ,'BC07'
    ,'BC08'
    ,'BC09'
]

print(len(precincts))

53

In [112]:
offices = [
    'REGISTERED VOTERS TOTAL'
    ,'REGISTERED VOTERS - REPUBLICAN'
    ,'REGISTERED VOTERS - DEMOCRATIC'
    ,'REGISTERED VOTERS - NONPARTISAN'
    ,'BALLOTS CAST TOTAL'
    ,'BALLOTS CAST - REPUBLICAN'
    ,'BALLOTS CAST - DEMOCRATIC'
    ,'BALLOTS CAST - NONPARTISAN'
    ,'BALLOTS CAST BLANK'
    ,'Democratic for U.S. House 1'
    ,'Democratic for U.S. House 1'
    ,'Republican for U.S. House 1'
    ,'Republican for U.S. House 1'
    ,'Republican for U.S. House 1'
    ,'Republican for U.S. House 1'
    ,'Republican for Governor and Lieutenant Governor'
    ,'Republican for Governor and Lieutenant Governor'
    ,'Republican for Governor and Lieutenant Governor'
    ,'Republican for Governor and Lieutenant Governor'
    ,'Republican for Attorney General'
    ,'Republican for Attorney General'
    ,'Republican for Commissioner Seat C'
    ,'Republican for Commissioner Seat C'
    ,'Republican for Commissioner Seat C'
    ,'Republican for Commissioner Seat C'
]

In [113]:
parties = [
    ''
    ,'REP'
    ,'DEM'
    ,'NON'
    ,''
    ,'REP'
    ,'DEM'
    ,'NON'
    ,''
    ,'DEM'
    ,'DEM'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
    ,'REP'
]

In [114]:
candidates = [
    'VOTERS'
    ,'VOTERS'
    ,'VOTERS'
    ,'VOTERS'
    ,'BALLOTS CAST'
    ,'BALLOTS CAST'
    ,'BALLOTS CAST'
    ,'BALLOTS CAST'
    ,'BALLOTS CAST'
    ,'DARREN PARRY'
    ,'JAMIE CHEEK'
    ,'KATIE WITT'
    ,'BOB STEVENSON'
    ,'BLAKE DAVID MOORE'
    ,'KERRY W. GIBSON'
    ,'THOMAS E. WRIGHT, ROB BISHOP'
    ,'SPENCER J. COX, DEIDRE M. HENDERSON'
    ,'JON HUNTSMAN JR., MICHELLE KAUFUSI'
    ,'GREG HUGHES, VICTOR IVERSON'
    ,'SEAN D. REYES'
    ,'DAVID O. LEAVITT'
    ,'KRIS UDY'
    ,'MITCH ZUNDEL'
    ,'STAN SUMMERS'
    ,'ALDEN FARR'
]

In [115]:
i = 0

while i < len(precincts):
    
    county = 'Box Elder'
    precinct = precincts[i]
    
    k = 1
    x = 0
    
    while x < 25:
        
        vote = df[x][i]
    
        if k % 25 == 0:
            candidate = candidates[k - 1]
            
            k = 1 
        else:
            office = offices[k - 1]
            party = parties[k - 1]
            candidate = candidates[k - 1]
            
            k += 1
            
        if office == 'Democratic for U.S. House 1' or office == 'Republican for U.S. House 1':
            district = '1'
        else: 
            district = ''
            
        d2 = d2.append({
            'county' : county
            ,'precinct' : precinct
            ,'office' : office
            ,'district' : district
            ,'party' : party
            ,'candidate' : candidate
            ,'vote' : vote
        }, ignore_index=True)
        
        x += 1
        
    i += 1

In [116]:
d2.shape

(1325, 7)

In [117]:
d2.to_csv("20200630__ut__primary__box_elder__precinct.csv", header=True, index=False)